---
import {basics} from '@cv'
const {name , label ,image, email, phone, url , summary, location} = basics
---

<section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h1>{label}</h1>
            <h1>{image}</h1>
            <h1>{email}</h1>
            <h1>{phone}</h1>
            <h1>{url}</h1>
            <h1>{summary}</h1>
            <h1>{location}</h1>
        </div>

    </div>
</section>