---
import { basics, UI } from "@/location/es.json";
import Section from "@/components/SectionStyle.astro";
import Image from "astro/components/Image.astro";
const { open_network, email_send, whatsapp_send } = UI;
const { name, label, image, email, phone, profiles, location } = basics;
const { city, region, country } = location;
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h1>{label}</h1>
      <span>
        {city} , {region}, {country}
      </span>
      {email} / {phone}
      <footer>
        {
          profiles.map(({ network, url, icon }) => {
            let title;
            if (network === "email") {
              title = `${email_send} ${email}`;
            } else if (network === "whatsapp") {
              title = whatsapp_send;
            } else {
              title = `${open_network} ${network}`;
            }
            return (
              <a href={url} title={title} target="_blank" aria-label={network}>
                <i class={icon} />
              </a>
            );
          })
        }
      </footer>
    </div>
      <figure>
        <Image
          class="hero"
          src={image}
          alt={name}
          width="170"
          height="170"
          loading="eager"
        />
      </figure>
    </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }
  .info h1 {
    width: 80%;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
  }

  footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    margin-right: 5px;
    margin-top: 5px;
    transition: all 0.3s ease;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .hero {
    object-fit: cover;
    border-radius: 16px;
  }
</style>
